$color-white: #ffffff;
$color-blue-1: #1a7cc1;
$color-blue-2: #effaff;
$color-blue-3: #d9f3ff;
$color-red: #f41a1a;
$color-gray-bg: #eff1f4;
$color-gray-stroke: #c3cad7;
$color-gray-text: #a7acb6;
$color-black: #202020;
