@import './colors.scss';
@import './typography.scss';

@mixin header-1 {
    font-family: $font-family-main;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: $color-black;
  }
  
  @mixin header-2 {
    font-family: $font-family-main;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: $color-black;
  }
  
  @mixin text-default-400 {
    font-family: $font-family-main;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: $color-black;
  }
  
  @mixin text-default-600 {
    font-family: $font-family-main;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: $color-black;
  }
  
  @mixin text-small {
    font-family: $font-family-main;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $color-black;
  }
  
  @mixin text-button {
    font-family: $font-family-button;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    color: $color-black;
  }
  
  @mixin select {
    .select-label {
      @include text-small;
    
      display: flex;
      flex-direction: column;
    }
    
    .select {
      background: $color-white;
      border-radius: 8px;
      border: 1px solid $color-gray-stroke;
      padding: 16px 20px;
      margin: 4px 0 12px 0;
    
      &::placeholder {
        color: $color-gray-text;
      }
    }
  }